nav {
    background-color: moccasin;
   }

.navbar-brand {
    color: rgba(255,99,71,1);
}
.nav-link { color: rgba(255,99,71,1);

}

body {
    background-image: url(https://images.unsplash.com/photo-1551923922-a0d2cccc164b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: moccasin;
    position: relative;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
    text-shadow: 3px 4px black;
}

strong {
    color:  rgba(255,99,71,1);
}

h5 {
    color: rgba(255,99,71,1);
    ;
}

.link {
    color: rgba(255,99,71,1);
    text-decoration: underline;
 }


.col-10 {
    padding: 50px;
    
    background-color: moccasin;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 25px;
}

.row {
    display: flex;
  justify-content: space-evenly;
    }


.picture {
    
    border-radius: 25px;
    width: 300px; height: 350px;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    box-shadow: 0 2 2px black;
}
.picture1 {
    margin-right: 2%;
}

.picture2 {
    margin-left: 2%;
   
}
.btn-primary {
    background-color: rgba(255,99,71,1);
    border: none;
     }
.pic {
    display: block;
    padding-bottom: 2%;
    padding-right: 5%;
    width: 300px;
    height: auto;
}

.button {
   display: flex;
    justify-content: space-between;
}
.container {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

.contain1 {
    position: relative;
}

.text-block1 {
    position: absolute;
    top: 0.05%;
    left: 0.05%;
    background-color: rgba(255,99,71,1);
    color: moccasin;
    padding-top: 1.5%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0;
    margin-bottom: 0;
    
  }

  .ul {
      padding-bottom: 5%;

  }